<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webscraping Amazon</title>
  <link rel="stylesheet" href="../styles/styles.css">
  <script src="../scripts/script.js"></script>
</head>
<body>
  <div>
    <div class="input" >
      <input id="input" type="text" placeholder="Pesquisa Amazon.com.br">

      <button onclick="feachSearchItems()" id="button">
        <img src="../public/search.png" alt="">
      </button>
    </div>

    <div class="empty-list" >
      <h1>Pesquise o podruto que deseja no campo acima.</h1>
    </div>

    <div class="product-container">

    </div>
  </div>
</body>
</html>
